# Adding/changing the data in repositories.yaml can have large downstream
# effects, so we're a little stricter on who can sign off on changes here.
repositories.yaml @wlach @jklukas @relud @whd @jasonthomas
